<h2>管理</h2>
<ul>
  <li>
    <%= link_to 'Performance indicator',indicators_path %>
  </li>
  <li>
  </li>
  <li></li>
</ul>
<h2>报告</h2>
<ul>
  <li>
    <%= link_to 'Performance indicator',indicators_path %>
  </li>
  <li>
  </li>
  <li></li>
</ul>