<h2>Indicators#show</h2>
<div class="content">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dicta dolor hic mollitia repudiandae? Amet, assumenda aut dicta dignissimos ea et, fuga illo labore, nulla officia quam sed similique voluptatibus.

</div>
<div class="features">
  <%= render 'indicators/features' %>
</div>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'basic', :plugin => 'kpi' %>
<% end %>