
<div class="show">
  <div class="content">
    <h2>Edit show</h2>
    <%= render 'shared/form'  %>
  </div>

  <div class="features">
    <%= render 'shared/features' %>
  </div>
</div>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'basic', :plugin => 'kpi' %>
    <%= stylesheet_link_tag 'indicator_create', :plugin => 'kpi' %>
<% end %>


